/jcafb_2025/cadastro/data
/jcafb_2025/cadastro/.ipynb_checkpoints
/jcafb_2025/data_access/data
/jcafb_2025/data_access/.ipynb_checkpoints
/jcafb_odoo16/project/data
/jcafb_odoo16/project/.ipynb_checkpoints
.virtual_documents
*.pyc
